<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ you may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<EmailSenderConfig>
    {% if email_sender_conf is defined %}
    <MinThreads>{{email_sender_conf.min_threads}}</MinThreads>

    <MaxThreads>{{email_sender_conf.max_threads}}</MaxThreads>

    <KeepAliveDuration>{{email_sender_conf.keep_alive_duration}}</KeepAliveDuration>

    <ThreadQueueCapacity>{{email_sender_conf.thread_queue_capacity}}</ThreadQueueCapacity>
    {% else %}
    <MinThreads>8</MinThreads>

    <MaxThreads>100</MaxThreads>

    <KeepAliveDuration>20</KeepAliveDuration>

    <ThreadQueueCapacity>1000</ThreadQueueCapacity>
    {% endif %}
</EmailSenderConfig>

